{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% if addresses %}
            {% for address in addresses %}
                <div class="col-md-6">
                    <h1 class="mb-4">Address</h1>
                    <div class="product-container">
                        <form action="{{ url_for('customer.modify_address') }}" method="POST" class="form-group">
                            <div class="product-info">
                                <label for="customer_id">Customer Id:</label>
                                <input type="text" id="customer_id" name="customer_id" value="{{ address.customerid }}">
                            </div>
                            <div class="product-info">
                                <label for="new_address_line1">Address Line 1:</label>
                                <input type="text" id="new_address_line1" name="new_address_line1" value="{{ address.addressline1 }}">
                            </div>
                            <div class="product-info">
                                <label for="new_address_line2">Address Line 2:</label>
                                <input type="text" id="new_address_line2" name="new_address_line2" value="{{ address.addressline2 }}">
                            </div>
                            <div class="product-info">
                                <label for="new_city">City: </label>
                                <input type="text" id="new_city" name="new_city" value="{{ address.city }}">
                            </div>
                            <div class="product-info">
                                <label for="new_state">State: </label>
                                <input type="text" id="new_state" name="new_state" value="{{ address.state}}">
                            </div>
                            <div class="product-info">
                                <label for="new_zip_code">Zipcode: </label>
                                <input type="text" id="new_zip_code" name="new_zip_code" value="{{ address.zipcode}}">
                            </div>
                            <div class="product-info">
                                <label for="new_address_type">Type: </label>
                                <input type="text" id="new_address_type" name="new_address_type" value="{{ address.addresstype}}">
                            </div>
                            <input type="hidden" name="address_id" value="{{ address.addressid }}">

                            <div class="row">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-primary">Edit Address</button>
                                    <a href="{{ url_for('customer.delete_address', address_id=address.addressid) }}" class="btn btn-danger">Delete Address</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning text-center" role="alert">
                    You did not add any address!
                </div>
            </div>
        {% endif %}

        <div class="col-md-6">
            <h1 class="mb-4">Add New Address</h1>
            <div class="product-container">
                <form action="{{ url_for('customer.add_address') }}" method="POST" class="form-group">
                    <div class="form-group">
                        <label for="customer_id">Customer Id:</label>
                        <input type="text" id="customer_id" name="customer_id" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="address_line1">Address Line 1: </label>
                        <input type="text" id="address_line1" name="address_line1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="address_line2">Address Line 2: </label>
                        <input type="text" id="address_line2" name="address_line2" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="city">City: </label>
                        <input type="text" id="city" name="city" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="state">State: </label>
                        <input type="text" id="state" name="state" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="zip_code">Zipcode:</label>
                        <input type="text" id="zip_code" name="zip_code" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="address_type">Type: </label>
                        <input type="text" id="address_type" name="address_type" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary">Create Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
