{% extends "layout.html" %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Shopping Cart</h1>
        {% if cart %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartItem in cart["items"] %}
                    <tr>
                        <td>{{ cartItem.product_id }}</td>
                        <td>{{ cartItem.product_name }}</td>
                        <td>{{ cartItem.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center mt-4">
            <form action="{{ url_for('customer.place_order') }}" method="POST" class="form-group">
                        <div class="form-group">
                        <label for="customer_id">Customer Id:</label>
                        <input type="number" id="customer_id" name="customer_id" class="form-control" require</div>
                <button type="submit" class="btn btn-primary btn-lg">Submit Order</button>
            </form>
        </div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Shopping Cart is Empty
        </div>
        {% endif %}
    </div>
{% endblock %}
